
@model IEnumerable<Finanças.Models.Gastos>
@{
    ViewBag.Title = "pesquisar";
}

<h2>Gastos</h2>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Onde gastou</th>
                <th>Tipo</th>
                <th>Valor</th>
                <th>Data</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.onde</td>
                <td>@item.tipo</td>
                <td>@item.valor</td>
                <td>@item.data</td>
                @{
                    ViewBag.Title = "pesquisar";
                }

                <h2>pesquisar</h2>

</table>